// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
  }

  .logo-img {
    width: 1em;
    height: 1em;
    border-radius: 100%;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}